<header id="header">
    <a href="/"><div class="logo"></div></a>
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><div class="icon"></div></label>
    <div class="wrapper">
        <ul>
            <li><a href="/">PoÄetna stranica</a></li>
            <li><a href="/searchMain">Glavne stanice</a></li>
            <li><a href="/searchAdditional">Automatske stanice</a></li>
            <li><a href="/searchMainRain">Glavne padavinske stanice</a></li>
            <li><a href="/searchClimateRain">Klimatske padavinske stanice</a></li>
            <li><a href="/searchPrecipitationRain">Padavinske stanice</a></li>
            <li><a href="/allMain">Sve glavne</a></li>
            <li><a href="/allAdditional">Sve automatske</a></li>
            <li><a href="/allMainRain">Sve glavne padavinske</a></li>
            <li><a href="/allClimateRain">Sve klimatske</a></li>
            <li><a href="/allPrecipitationRain">Sve padavinske</a></li>
        </ul>
    </div>
</header>
