<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Padavinske klimatske stanice</title>
    <link rel="stylesheet" href="css/all.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <main>
        <h2 id="pretraga">Klimatološke meteorološke stanice - PADAVINE</h2>
        <form id="allClimateRainForm" name="allClimateRainForm">
            <div class="all-container">
                <div class="box-input">
                    <label for="Stanica">Stanica</label>
                    <select name="Stanica" id="Stanica">
                        <option value="">Sve stanice</option>
                        <option value="Blaževo">Blaževo</option>
                        <option value="Jošanička Banja">Jošanička Banja</option>
                        <option value="Jagodina">Jagodina</option>
                        <option value="Veliki Jastrebac-Buci">Veliki Jastrebac</option>
                        <option value="RC Kruševac">RC Kruševac</option>
                        <option value="RC Niš">RC Niš</option>
                        <option value="Sikole">Sikole</option>
                        <option value="Drenovac">Drenovac</option>
                        <option value="Knjaževac">Knjaževac</option>
                        <option value="RC Valjevo">RC Valjevo</option>
                        <option value="Predejane">Predejane</option>
                        <option value="Minićevo">Minićevo</option>
                        <option value="RC Sjenica">RC Sjenica</option>
                        <option value="RC Kukavica">RC Kukavica</option>
                        <option value="Sopot">Sopot</option>
                        <option value="Inđija">Inđija</option>
                        <option value="RC Užice">RC Užice</option>
                        <option value="Krupanj">Krupanj</option>
                        <option value="Kaona">Kaona</option>
                        <option value="Beograd  Košutnjak">Beograd  Košutnjak</option>
                        <option value="Čumić">Čumić</option>
                        <option value="Beograd-Senjak">Beograd-Senjak</option>
                        <option value="RC Bukulja">RC Bukulja</option>
                        <option value="Bunar">Bunar</option>
                        <option value="Babušnica">Babušnica</option>
                        <option value="Vojska">Vojska</option>
                        <option value="Ratković">Ratković</option>
                        <option value="Rekovac">Rekovac</option>
                        <option value="RC Bešnjaja">RC Bešnjaja</option>
                        <option value="Suvodol">Suvodol</option>
                        <option value="Crnča">Crnča</option>
                        <option value="Pirot">Pirot</option>
                        <option value="RC Petrovac">RC Petrovac</option>
                        <option value="Stara Planina">Stara Planina</option>
                    </select>
                </div>
                <button class="box-button" id="btnSend">Pretraži</button>
            </div>
        </form>
    </main>
    <script type="module" src="./js/allClimateRain.js"></script>
</body>

</html>