<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glavne meteorološke stanice</title>
    <link rel="stylesheet" href="css/all.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <main>
        <h2 id="pretraga">Glavne meteorološke stanice - svi unosi</h2>
        <form id="allMainForm" name="allMainForm">
            <div class="all-container">
                <div class="box-input">
                    <label for="Stanica">Stanica</label>
                    <select name="Stanica" id="Stanica">
                        <option value="">Sve stanice</option>
                        <option value="Palić">Palić</option>
                        <option value="Sombor">Sombor</option>
                        <option value="Novi Sad">Novi Sad</option>
                        <option value="Zrenjanin">Zrenjanin</option>
                        <option value="Kikinda">Kikinda</option>
                        <option value="B. Karlovac">Banatski Karlovac</option>
                        <option value="Loznica">Loznica</option>
                        <option value="S. Mitrovica">Sremska Mitrovica</option>
                        <option value="Valjevo">Valjevo</option>
                        <option value="Beograd">Beograd</option>
                        <option value="Kragujevac">Kragujevac</option>
                        <option value="S. Palanka">Smederevska Palanka</option>
                        <option value="V. Gradište">Veliko Gradište</option>
                        <option value="Crni Vrh">Crni Vrh</option>
                        <option value="Negotin">Negotin</option>
                        <option value="Zlatibor">Zlatibor</option>
                        <option value="Sjenica">Sjenica</option>
                        <option value="Požega">Požega</option>
                        <option value="Kraljevo">Kraljevo</option>
                        <option value="Kopaonik">Kopaonik</option>
                        <option value="Kuršumlija">Kuršumlija</option>
                        <option value="Kruševac">Kruševac</option>
                        <option value="Ćuprija">Ćuprija</option>
                        <option value="Niš">Niš</option>
                        <option value="Leskovac">Leskovac</option>
                        <option value="Zaječar">Zaječar</option>
                        <option value="Dimitrovgrad">Dimitrovgrad</option>
                        <option value="Vranje">Vranje</option>
                    </select>
                </div>
                <button class="box-button" id="btnSend">Pretraži</button>
            </div>
        </form>
    </main>
    <script type="module" src="./js/allMain.js"></script>
</body>

</html>