<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <main>
        <h1>Dobrodošli!</h1>
        <h2>Podaci za Glavne i Dopunske meteorološke stanice su dostupni za period počevši od 07.01.2023, dok su podaci za Padavinske stanice počeli da se ubacuju u bazu podataka 20.01.2023</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, iure? Est quae nam dolor voluptatum expedita blanditiis doloribus odit soluta quas hic! Voluptatum quasi cumque soluta placeat assumenda officia est autem ipsa nulla fugiat in debitis inventore nobis delectus nesciunt incidunt minus quibusdam, iusto et quas accusamus voluptas veritatis quae. Eum in porro qui id expedita, eos quas iusto. Accusamus assumenda nesciunt nostrum, dolorem reiciendis dicta omnis ipsum maxime dolores harum labore, dignissimos unde illum quo placeat nam inventore fuga possimus doloremque, laborum quas! Commodi dignissimos laborum nostrum adipisci praesentium fuga vero non libero molestias? Reprehenderit itaque nisi delectus repellendus?</p>
    </main>
    <script src="js/script.js" defer></script>
</body>

</html>