<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <main>
        <h2 id="pretraga">Pretraga glavnih meteoroloških stanica</h2>
        <form id="myMainForm" name="myMainForm">
            <fieldset>
                <legend>Meteorološka Stanica</legend>
                <div class="form-box">
                    <label for="Stanica">Stanica</label>
                    <select name="Stanica" id="Stanica">
                        <option value=""></option>
                        <option value="Palić">Palić</option>
                        <option value="Sombor">Sombor</option>
                        <option value="Novi Sad">Novi Sad</option>
                        <option value="Zrenjanin">Zrenjanin</option>
                        <option value="Kikinda">Kikinda</option>
                        <option value="B. Karlovac">Banatski Karlovac</option>
                        <option value="Loznica">Loznica</option>
                        <option value="S. Mitrovica">Sremska Mitrovica</option>
                        <option value="Valjevo">Valjevo</option>
                        <option value="Beograd">Beograd</option>
                        <option value="Kragujevac">Kragujevac</option>
                        <option value="S. Palanka">Smederevska Palanka</option>
                        <option value="V. Gradište">Veliko Gradište</option>
                        <option value="Crni Vrh">Crni Vrh</option>
                        <option value="Negotin">Negotin</option>
                        <option value="Zlatibor">Zlatibor</option>
                        <option value="Sjenica">Sjenica</option>
                        <option value="Požega">Požega</option>
                        <option value="Kraljevo">Kraljevo</option>
                        <option value="Kopaonik">Kopaonik</option>
                        <option value="Kuršumlija">Kuršumlija</option>
                        <option value="Kruševac">Kruševac</option>
                        <option value="Ćuprija">Ćuprija</option>
                        <option value="Niš">Niš</option>
                        <option value="Leskovac">Leskovac</option>
                        <option value="Zaječar">Zaječar</option>
                        <option value="Dimitrovgrad">Dimitrovgrad</option>
                        <option value="Vranje">Vranje</option>
                    </select>
                </div>
            </fieldset>
            <fieldset>
                <legend>Dan / Period</legend>
                <div class="form-box">
                    <label for="date">Datum / Početak Perioda</label>
                    <input type="date" id="date" name="Date" min="2022-12-29" value="">
                </div>
                <div class="form-box" id="dateEndContainer">
                    <label for="dateEnd">Kraj Perioda (opciono)</label>
                    <input type="date" id="dateEnd" name="datumEnd" min="2022-12-29">
                </div>
            </fieldset>
            <fieldset>
                <legend>Sat / Period dana</legend>
                <div class="form-box">
                    <label for="time">Sati / Od</label>
                    <input type="time" id="time" name="Time">
                </div>
                <div class="form-box" id="timeEndContainer">
                    <label for="timeEnd">Kraj Perioda (opciono)</label>
                    <input type="time" id="timeEnd" name="timeEnd">
                </div>
            </fieldset>
            <fieldset>
                <legend>Temperatura</legend>
                <div class="form-box">
                    <label for="temperatura">Temperatura (°C)</label>
                    <input type="number" min="-50" max="50" step="1" name="Temperatura(°C)" id="temperatura">
                </div>
                <div class="form-box">
                    <label for="min-temperatura">Minimalna Temperatura (°C)</label>
                    <input type="number" min="-50" max="50" step="1" name="min-temperatura" id="min-temperatura">
                </div>
                <div class="form-box">
                    <label for="max-temperatura">Maksimalna Temperatura (°C)</label>
                    <input type="number" min="-50" max="50" step="1" name="max-temperatura" id="max-temperatura">
                </div>
            </fieldset>
            <fieldset>
                <legend>Subjektivni Osećaj Temperature</legend>
                <div class="form-box">
                    <label for="subjektivni">Subjektivni Osećaj Temperature (°C)</label>
                    <input type="number" min="-50" max="50" step="1" name="Subjektivniosećajtemperature(°C)"
                    id="subjektivni">
                </div>
            </fieldset>
            <fieldset>
                <legend>Pravac Vetra</legend>
                <div class="form-box">
                    <label for="pravac">Pravac Vetra</label>
                    <select name="Pravacvetra" id="pravac">
                        <option value=""></option>
                        <option value="-">bez vetra</option>
                        <option value="S">južni</option>
                        <option value="SE">jugoistočni</option>
                        <option value="SSE">južni-jugoistočni</option>
                        <option value="SW">jugozapadni</option>
                        <option value="SSW">južni-jugozapadni</option>
                        <option value="E">istočni</option>
                        <option value="ESE">istočni-jugoistočni</option>
                        <option value="ENE">istočni-severoistočni</option>
                        <option value="N">severni</option>
                        <option value="NE">severoistočni</option>
                        <option value="NW">severozapadni</option>
                        <option value="NNE">severni-severoistočni</option>
                        <option value="NNW">severni-severozapadni</option>
                        <option value="W">zapadni</option>
                        <option value="WSW">zapadni-jugozapadni</option>
                        <option value="WNW">zapadni-severozapadni</option>
                    </select>
                </div>
            </fieldset>
            <fieldset>
                <legend>Brzina Vetra</legend>
                <div class="form-box">
                    <label for="brzina-vetra">Brzina Vetra (m/s)</label>
                    <input type="number" min="0" max="100" step="1" name="Brzinavetra(m/s)" id="brzina-vetra">
                </div>
                <div class="form-box">
                    <label for="min-brzina">Minimalna Brzina Vetra (°C)</label>
                    <input type="number" min="0" max="100" step="1" name="min-brzina" id="min-brzina">
                </div>
                <div class="form-box">
                    <label for="max-brzina">Maksimalna Brzina Vetra (°C)</label>
                    <input type="number" min="0" max="100" step="1" name="max-brzina" id="max-brzina">
                </div>
            </fieldset>
            <fieldset>
                <legend>Vlažnost</legend>
                <div class="form-box">
                    <label for="vlaga">Vlažnost (%)</label>
                    <input type="number" min="0" max="100" step="1" name="Vlažnost(%)" id="vlaga">
                </div>
                <div class="form-box">
                    <label for="min-vlaga">Minimalna Vlažnost (%)</label>
                    <input type="number" min="0" max="99" step="1" name="min-vlaga" id="min-vlaga">
                </div>
                <div class="form-box">
                    <label for="max-vlaga">Maksimalna Vlažnost (%)</label>
                    <input type="number" min="1" max="100" step="1" name="max-vlaga" id="max-vlaga">
                </div>
            </fieldset>
            <fieldset>
                <legend>Pritisak</legend>
                <div class="form-box">
                    <label for="pritisak">Pritisak (hPa)</label>
                    <input type="number" min="500" max="1500" step="0.1" name="Pritisak(hPa)" id="pritisak">
                </div>
                <div class="form-box">
                    <label for="min-pritisak">Minimalni Pritisak</label>
                    <input type="number" min="500" max="1500"  step="0.1" name="min-pritisak" id="min-pritisak">
                </div>
                <div class="form-box">
                    <label for="max-pritisak">Maksimalni Pritisak</label>
                    <input type="number" min="500" max="1500"  step="0.1" name="max-pritisak" id="max-pritisak">
                </div>
            </fieldset>
            <fieldset>
                <legend>Opis Vremena</legend>
                <div class="form-box">
                    <label for="opis">Opis vremena</label>
                    <select name="Opisvremena" id="opis">
                        <option value=""></option>
                        <option value="Vedro">Vedro</option>
                        <option value="Pretežno vedro">Pretežno vedro</option>
                        <option value="Delimično oblačno">Delimično oblačno</option>
                        <option value="Pretežno oblačno">Pretežno oblačno</option>
                        <option value="Sumaglica">Sumaglica</option>
                        <option value="Magla">Magla</option>
                        <option value="Oblačno">Oblačno</option>
                        <option value="Rosulja (sipeća kiša)">Rosulja (sipeća kiša)</option>
                        <option value="Slaba kiša">Slaba kiša</option>
                        <option value="Umerena kiša">Umerena kiša</option>
                        <option value="Jaka kiša">Jaka kiša</option>
                        <option value="Pljusak">Pljusak</option>
                        <option value="Oluja">Oluja</option>
                        <option value="Umeren sneg">Umeren sneg</option>
                        <option value="Slab sneg">Slab sneg</option>
                    </select>
                </div>
            </fieldset>
            <fieldset class="fieldset-button">
                <div class="form-box-button">
                    <button id="btnCancel">Poništi</button>
                </div>
                <div class="form-box-button">
                    <button id="btnSend">Pretraži</button>
                </div>
            </fieldset>
        </form>
    </main>
    <script type="module" src="./js/scriptMain.js"></script>
</body>

</html>