@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-title-font-size: 3rem;
    --nav-title-font-weight: bold;
    --nav-link-font-weight: 300;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgba(168, 239, 255, 1);
    --c2: rgba(168, 239, 255, 0.1);
}

html {
    font-size: 18px;
    line-height: 1.6;
    font-family: "Poppins", sans-serif;
    color: rgb(72, 214, 243);
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: rgb(9, 4, 20);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    overflow-x: hidden;
}

/* /////////  HEADER ///////////////// */

#header {
    display: flex;
    width: 100vw;
    height: 15vh;
    position: relative;
}

.logo {
    background-image: url("../android-chrome-192x192.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    position: absolute;
    top: 1.5rem;
    left: 2.5rem;
    opacity: 0.33;
    cursor: pointer;
    transition: 0.25s all ease-in;
}

.logo:hover {
    opacity: 0.9;
    transform: scale(1.05);
    outline: 2px dashed rgba(224, 232, 234, 0.5);
    outline-offset: 5px;
    box-shadow: 5px -3px 10px rgba(224, 232, 234, 0.5);
}

 .wrapper {
     position: fixed;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background: #090414;
     clip-path: circle(25px at calc(100% - 45px) 45px);
     transition: all 0.4s cubic-bezier(0.17, 0.2, 0.245, 0.715);
     z-index: 10;
 }

 #active:checked~.wrapper {
     clip-path: circle(75%);
 }

 .menu-btn {
     position: absolute;
     z-index: 15;
     right: 1.5rem;
     top: 1.5rem;
     height: 2.5rem;
     width: 2.5rem;
     text-align: center;
     line-height: 2.5rem;
     font-size: 1.25rem;
     color: bisque;
     cursor: pointer;
     background: #090414;
     transition: all 0.3s ease-in-out;
}
    
.menu-btn .icon {
    width: 100%;
    height: 100%;
    background-image: url("../img/hamburger.png");
    background-size: 1.25rem 1.25rem;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: rgb(72, 214, 243);
    outline: 2px solid rgb(231, 239, 240);
    opacity: 0.5;
    outline-offset: 4px;
 }

 .menu-btn:hover .icon {
    background-color: rgb(231, 239, 240);
    outline: 2px solid rgb(72, 214, 243);
    outline-offset: 2px;
    opacity: 0.75;
    transform: scale(1.05);
 }

 #active:checked~.menu-btn {
     color: bisque;
 }

 .wrapper ul {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     list-style: none;
     text-align: center;
 }

 .wrapper ul li {
     margin: 0.25rem 0;
 }

 .wrapper ul li a {
     text-decoration: none;
     font-size: 1.75rem;
     font-weight: 500;
     padding: 0.25rem 2rem;
     color: rgb(72, 214, 243);
     border-radius: 0.25rem;
     background: #090414;
     position: relative;
     line-height: 3rem;
     transition: all 0.3s ease;
 }

 .wrapper ul li a:hover:after {
     transform: scaleY(1.1);
 }

 .wrapper ul li a:hover {
     background-color: #010002;
    color: rgb(128, 227, 247);
 }

 input[type="checkbox"] {
     display: none;
 }

 @keyframes rotate {
     0% {
         filter: hue-rotate(20);
     }

     100% {
         filter: hue-rotate(120deg);
     }
 }

/* ////////////////////////// */

/* ////////////  FOOTER  //////////// */
footer {
    height: 5vh;
    margin: 0.5rem 8rem;
    align-self: self-end;
}

footer p {
    justify-content: start;
    font-size: 0.8rem;
    font-weight: normal;
}

footer p span {
    font-size: 1rem;
    font-weight: normal;
}

/* ////////////////////////// */

main {
    margin: 1rem auto;
    width: 80vw;
    min-height: 70vh;
    transition: width 0.5s ease;
}

h1 {
    padding: 2rem 1rem;
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    padding: 2rem 1rem;
    font-size: 1,5rem;
    font-weight: 600;
}

select, option, datalist, input, label, button {
    font-size: 1.25rem;
    color: inherit;
}

input, select {
    border-radius: 0.5rem;
    height: 2rem;
    background-color: rgb(19, 9, 42);
    color: bisque;
    padding: 0.2rem 0.5rem;
    outline: none;
}

input:invalid {
    background-color: rgb(251, 36, 36);
    color: #d1cece;
}

fieldset {
    border-color: bisque;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

fieldset > legend {
    color: bisque;
    font-size: 0.75rem;
    margin-left: 2rem;
    padding: 0 0.25rem;
    cursor: pointer;
}

.form-box {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-box select {
    flex-basis: 33%;
}

.form-box option:checked {
    color: rgb(246, 250, 105);
    background-color: rgb(42, 42, 170);
}

.form-box option:default {
    color: red;
}

.form-box label {
    flex-basis: 67%;
    flex-shrink: 0;
}

.form-box input {
    flex-basis: 33%;
}

.fieldset-button {
    border-color:rgb(72, 214, 243);
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
}

.form-box-button {
    padding: 0.25rem;
    display: flex;
    flex-direction: row;
    flex: 50% 1 1;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.form-box-button button {
    flex-basis: 100%;
    padding: 0 1rem;
    height: 3rem;
    color: rgb(72, 214, 243);
    background-color: rgb(9, 4, 20);
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0.125rem;
    border-radius: 1rem;
    border-color: rgb(72, 214, 243);
    cursor: pointer;
    transition: all 0.5s ease;
}

.form-box-button button:hover {
    color: rgb(9, 4, 20);
    background-color: rgb(72, 214, 243);
    letter-spacing: 0.2rem;
}

#dateEndContainer, #timeEndContainer {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.75;
    color: rgb(9, 4, 20);
}

input[type="number"]:focus, input[type="date"]:focus, input[type="time"]:focus, select:focus {
    background-color: rgb(72, 214, 243);
    color: rgb(9, 4, 20);
    font-weight: 700;
}

@media screen and (max-width: 1080px) {

html {
    font-size: 14px;
}

main {
    margin: 1rem auto;
    width: 90vw;
}

#header  .wrapper ul li a {
    font-size: 1.5rem;
}

.form-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.form-box input, .form-box select, .form-box label {
    flex-basis: 100%;
}
}

@media screen and (max-width: 765px) {
html {
    font-size: 12px;
}

main {
    margin: 1rem auto;
    width: 95vw;
}

#header .wrapper ul li a {
    font-size: 1.25rem;
}

.form-box {
    padding: 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-box input,
.form-box select,
.form-box label {
    flex-basis: 100%;
}
}

/* ///////////////////////////// */
/* START OF allMainStations.ejs || allAdditionalStations.ejs */
/* ///////////////////////////// */

#allMainForm .form-box-button, #allAdditionalForm .form-box-button {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex: 50% 1 1;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: center;
}

#allMainForm .form-box-button button, #allMainForm .form-box-button .form-box select,  #allAdditionalForm .form-box-button button, #allAdditionalForm .form-box-button .form-box select {
    padding: 0 1rem;
    height: 3rem;
    color: rgb(72, 214, 243);
    background-color: rgb(9, 4, 20);
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border-color: rgb(72, 214, 243);
    cursor: pointer;
    transition: all 0.5s ease;
}

#allMainForm .form-box-button button, #allAdditionalForm .form-box-button button {
    flex-basis: 25%;
    transition: all 0.5s ease;
}

#allMainForm .form-box-button .form-box select, #allAdditionalForm .form-box-button .form-box select {
    flex-basis: 75%;
    font-size: 2rem;
    transition: all 0.5s ease;
}

@media screen and (max-width: 765px) {

#allMainForm .form-box-button, #allAdditionalForm .form-box-button {
    flex-direction: column;
    max-width: 760px;
}

#allMainForm .form-box-button .form-box select,
#allAdditionalForm .form-box-button .form-box select {
    flex: 1;
}

#allMainForm .form-box-button button, #allAdditionalForm .form-box-button button {
    flex: 1;
}

}
/* ////////////////////////// */
/* END OF allMainStations.ejs || allAdditionalStations.ejs */
/* ///////////////////////////// */


/* ///////////////////////////// */
/* START OF search result table */
/* ///////////////////////////// */

table {
    border-collapse: collapse;
    caption-side: top;
    border: 1px solid rgb(72, 214, 243);
    min-width: 80vw;
    user-select: none;
}

table tr {
    border-bottom: 1px solid rgb(72, 214, 243);
    background-color: rgb(9, 4, 20);
    transition: 0.15s ease-in-out;
}

table tbody tr:hover {
    color: rgb(116, 224, 246);
    background-color: rgb(26, 11, 57);
    outline: 2px solid wheat;
    outline-offset: 3px;
}

table tr td {
    text-align: center;
    padding: 5px 10px;
}

table caption {
    padding-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
}

table thead {
    position: sticky;
    top: 0;
}

table thead tr {
    background-color: rgb(11, 5, 25);
}

table thead tr th {
    height: 6rem;
    width: max-content;
    padding-top: 10px;
    font-size: 1rem;
    padding: 0.25rem;
    vertical-align: top;
}

table thead tr th span{
    font-size: 0.6rem;
}

table tfoot {
    height: 3rem;
    padding: 3rem 1rem;
}

table tfoot th p {
    font-size: 0.8rem;
    padding-right: 2rem;
    text-align: end;
}

table tfoot span {
    font-size: 1.2rem;
    color: bisque;
    font-weight: 700;
}

/* ///////////////////////////// */
/* START OF search result table */
/* ///////////////////////////// */

/* Result Table */
.result-container {
    display: flex;
    flex-direction: column;
    min-width: 80vw;
}

.btn-wrapper {
    display: flex;
}

.btn-wrapper button {
    flex-basis: 22.5%;
    flex-shrink: 0;
    font-size: 0.9rem;
    background-color: rgb(9, 4, 20);
    color:rgb(72, 214, 243);
    border: 1px solid rgb(72, 214, 243);
    border-radius: 2px;
    padding: 5px 10px;
    margin-top: 0.75rem;
    margin-left: 1rem;
    transition: 0.25s ease-in-out;
}

#htmlToExcel:hover, #htmlToCSV:hover, #btnChart:hover, #htmlToExcel:focus, #htmlToCSV:focus, #btnChart:focus {
    outline: 2px solid wheat;
    outline-offset: 3px;
    cursor: pointer;
}

#htmlToExcel span, #htmlToCSV span, #btnChart span {
    font-size: 1rem;
    font-weight: 700; 
}

#btnChart {
    color: #fff;
    border: 1px solid rgb(245, 238, 18);
    background-color: rgb(135, 5, 5);
}

.gotopbtn {
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    bottom: 1.5rem;
    right: 1.5rem;
    text-decoration: none;
    background-color: rgb(72, 214, 243);
    outline: 2px solid rgb(231, 239, 240);
    opacity: 0.5;
    outline-offset: 4px;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5rem;
    font-weight: bolder;
    font-size: 2.5rem;
    transition: all 0.2s ease-in;
    z-index: 2;
}

.gotopbtn .arrow {
    width: 100%;
    height: 100%;
    background-image: url("../img/arrow_up_icon.png");
    background-size: 2rem 2rem;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: rgb(72, 214, 243);
    outline: 2px solid rgb(231, 239, 240);
    opacity: 0.5;
    outline-offset: 4px;
}

.gotopbtn:hover .arrow {
    background-color: rgb(231, 239, 240);
    outline: 2px solid rgb(72, 214, 243);
    outline-offset: 2px;
    opacity: 0.75;
    transform: scale(1.05);
}

@media (max-width: 768px) {

    .table {
        border: none;
    }

    .table thead, .table tfoot, .table caption, .btn-wrapper {
        display: none;
    }

    .table, .table tbody, tbody tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        border-bottom: 1px dashed;
        margin-bottom: 30px;
        padding-bottom: 10px;
    }

    table tbody tr:hover {
        color: rgb(238, 234, 248);
        background-color: rgb(81, 42, 148);
        outline: 2px solid rgb(179, 237, 245);
        outline-offset: 1px;
    }

    .table tbody tr td {
        position: relative;
        text-align: right;
        padding-left: 50%;
        font-size: 1.25rem;
        font-weight: 600;
    }

    .table tbody tr td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 400;
        font-size: 1rem;
        text-align: left;
    }

}

/* ///// START OF  noData page   ///// */
h2.no-data {
    font-size: 3rem;
    font-weight: 200;
    color: blanchedalmond;
}
/* /////  END OF  noData page   ///// */