@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    line-height: 1.6;
    font-family: "Poppins", sans-serif;
    color: rgb(72, 214, 243);
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: rgb(9, 4, 20);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin: 1rem auto;
    width: 80vw;
    transition: width 0.5s ease;
}

h2 {
    padding: 2rem 1rem;
    font-size: 2rem;
    font-weight: 800;
}

select, option, datalist, input, label, button {
    font-size: 1.25rem;
    color: inherit;
}

input, select {
    border-radius: 0.5rem;
    height: 2rem;
    background-color: rgb(19, 9, 42);
    color: bisque;
    padding: 0.2rem 0.5rem;
    outline: none;
}

fieldset {
    border-color: bisque;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

fieldset > legend {
    color: bisque;
    margin-left: 2rem;
    padding: 0 0.25rem;
    cursor: pointer;
}

.form-box {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-box select {
    flex-basis: 33%;
}

.form-box option:checked {
    color: rgb(246, 250, 105);
    background-color: rgb(42, 42, 170);
}

.form-box option:default {
    color: red;
}

.form-box label {
    flex-basis: 67%;
    flex-shrink: 0;
}

.form-box input {
    flex-basis: 33%;
    /* padding: 0 1rem; */
}

.fieldset-button {
    border-color:rgb(72, 214, 243);
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
}

.form-box-button {
    padding: 0.25rem;
    display: flex;
    flex-direction: row;
    flex: 50% 1 1;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.form-box-button button {
    flex-basis: 100%;
    padding: 0 1rem;
    height: 3rem;
    color: rgb(72, 214, 243);
    background-color: rgb(9, 4, 20);
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0.125rem;
    border-radius: 1rem;
    border-color: rgb(72, 214, 243);
    cursor: pointer;
    transition: all 0.5s ease;
}

.form-box-button button:hover {
    color: rgb(9, 4, 20);
    background-color: rgb(72, 214, 243);
    letter-spacing: 0.2rem;
}

#dateEndContainer, #timeEndContainer {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.6;
    filter: invert(0.8);
}

@media screen and (max-width: 1080px) {
html {
    font-size: 14px;
}
main {
    margin: 1rem auto;
    width: 90vw;
}

.form-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.form-box input, .form-box select, .form-box label {
    flex-basis: 100%;
}
}

@media screen and (max-width: 765px) {
html {
    font-size: 12px;
}

main {
    margin: 1rem auto;
    width: 95vw;
}

.form-box {
    padding: 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-box input,
.form-box select,
.form-box label {
    flex-basis: 100%;
}
}

/* ///////////////////////////// */
/* START OF allMainStations.ejs || allAdditionalStations.ejs */
/* ///////////////////////////// */

#allMainForm .form-box-button, #allAdditionalForm .form-box-button {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex: 50% 1 1;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: center;
}

#allMainForm .form-box-button button, #allMainForm .form-box-button .form-box select,  #allAdditionalForm .form-box-button button, #allAdditionalForm .form-box-button .form-box select {
    padding: 0 1rem;
    height: 3rem;
    color: rgb(72, 214, 243);
    background-color: rgb(9, 4, 20);
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border-color: rgb(72, 214, 243);
    cursor: pointer;
    transition: all 0.5s ease;
}

#allMainForm .form-box-button button, #allAdditionalForm .form-box-button button{
    flex-basis: 25%;
    transition: all 0.5s ease;
}

#allMainForm .form-box-button .form-box select, #allAdditionalForm .form-box-button .form-box select {
    flex-basis: 75%;
    font-size: 2rem;
    transition: all 0.5s ease;
}

@media screen and (max-width: 765px) {

#allMainForm .form-box-button, #allAdditionalForm .form-box-button {
    flex-direction: column;
    max-width: 760px;
}

#allMainForm .form-box-button .form-box select,
#allAdditionalForm .form-box-button .form-box select {
    flex: 1;
}

#allMainForm .form-box-button button, #allAdditionalForm .form-box-button button {
    flex: 1;
}

}
/* ////////////////////////// */
/* END OF allMainStations.ejs || allAdditionalStations.ejs */
/* ///////////////////////////// */


/* ///////////////////////////// */
/* START OF search result table */
/* ///////////////////////////// */

table {
    border-collapse: collapse;
    caption-side: top;
    border: 1px solid rgb(72, 214, 243);
    min-width: 80vw;
    user-select: none;
}

table tr {
    border-bottom: 1px solid rgb(72, 214, 243);
    background-color: rgb(9, 4, 20);
    transition: 0.15s ease-in-out;
}

table tbody tr:hover {
    color: rgb(116, 224, 246);
    background-color: rgb(26, 11, 57);
    outline: 2px solid wheat;
    outline-offset: 3px;
}

table tr td {
    text-align: center;
    padding: 5px 10px;
}

table caption {
    padding-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
}

table thead {
    position: sticky;
    top: 0;
}

table thead tr {
    background-color: rgb(11, 5, 25);
}

table thead tr th {
    height: 6rem;
    width: max-content;
    padding-top: 10px;
    font-size: 1rem;
    padding: 0.25rem;
    vertical-align: top;
}

table thead tr th span{
    font-size: 0.6rem;
}

table tfoot {
    height: 3rem;
    padding: 3rem 1rem;
}

table tfoot th p {
    font-size: 0.8rem;
    padding-right: 2rem;
    text-align: end;
}

table tfoot span {
    font-size: 1.2rem;
    color: bisque;
    font-weight: 700;
}

/* ///////////////////////////// */
/* START OF search result table */
/* ///////////////////////////// */

/* Result Table */
.result-container {
    display: flex;
    flex-direction: column;
    min-width: 80vw;
}

.btn-wrapper {
    display: flex;
}

.btn-wrapper button {
    flex-basis: 22.5%;
    flex-shrink: 0;
    font-size: 0.9rem;
    background-color: rgb(9, 4, 20);
    color:rgb(72, 214, 243);
    border: 1px solid rgb(72, 214, 243);
    border-radius: 2px;
    padding: 5px 10px;
    margin-top: 0.75rem;
    margin-left: 1rem;
    transition: 0.25s ease-in-out;
}

#htmlToExcel:hover, #htmlToCSV:hover, #htmlToExcel:focus, #htmlToCSV:focus {
    outline: 2px solid wheat;
    outline-offset: 3px;
    cursor: pointer;
}

#htmlToExcel span, #htmlToCSV span{
    font-size: 1rem;
    font-weight: 700; 
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    background-color: rgb(72, 214, 243);
    outline: 2px solid rgb(231, 239, 240);
    outline-offset: 3px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-weight: bolder;
    font-size: 2rem;
    transition: all 0.2s ease-in;
}

.gotopbtn:hover {
    background-color: rgb(231, 239, 240);
    outline: 2px solid rgb(72, 214, 243);
    transform: scale(1.05);
}

@media (max-width: 768px) {

    .table {
        border: none;
    }

    .table thead, .table tfoot, .table caption, .btn-wrapper {
        display: none;
    }

    .table, .table tbody, tbody tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        border-bottom: 1px dashed;
        margin-bottom: 30px;
        padding-bottom: 10px;
    }

    table tbody tr:hover {
        color: rgb(238, 234, 248);
        background-color: rgb(81, 42, 148);
        outline: 2px solid rgb(179, 237, 245);
        outline-offset: 1px;
    }

    .table tbody tr td {
        position: relative;
        text-align: right;
        padding-left: 50%;
        font-size: 1.25rem;
        font-weight: 600;
    }

    .table tbody tr td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 400;
        font-size: 1rem;
        text-align: left;
    }

}